#grid {
    display: flex;
    height: 480px;
    width: 480px;
    flex-wrap: wrap;
    border: 1px solid black;
}

#grid > * {
    background-color: azure;
    outline: 1px solid black;
    width: 30px;
    height: 30px;
}

/*
#grid > *:hover {
    background-color: blueviolet;
}*/