* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    justify-content: space-around;
}

#grid {
    display: flex;
    height: 560px;
    width: 560px;
    flex-wrap: wrap;
    outline: 1px solid black;
}

.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: azure;
}

.square {
    outline: 1px solid black;
    flex: 1;
}

.scrollable {
    overflow: auto;
   width: 70px; /* adjust this width depending to amount of text to display */
   height: 80px; /* adjust height depending on number of options to display */
   border: 1px silver solid;
}

.scrollable select{
    border: none;
  }